
@import '_credencials'

.login
  display flex
  flex-direction column

  // All login content
  &-area
    display flex
    justify-content center
    align-items center
    width 100vw
    height 72vh
