
.new-service-container
  width 100%
  // height auto
  margin-top 50px

  .new-service-container-cards
    display flex
    justify-content space-around
    flex-wrap wrap
    max-width 900px
    margin 0 auto
