
.new-service-navbar
  width 100vw
  // height 100px
  background-color $color-secondary

  &-content
    display flex
    justify-content space-between
    max-width 900px
    margin 0 auto
    padding-left 10px
    padding-right 10px

    &-image
      width 210px
