
.bold
  font-weight 700

// .generic-background
//   height 100%
//   background-image url('../assets/images/chair-background.svg')
//   background-size cover
//   background-repeat no-repeat
//   background-position center center
